{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Our Story</h1>
            <p class="lead fw-normal text-white-50 mb-0">Aromatica's: Purpose</p>
        </div>
    </div>
</header>

<br><br/>

<div class="container">
    <div class="'row">
        <centre>
            <div class"col-8>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et arcu viverra nunc imperdiet posuere eget at dui. Etiam viverra pellentesque est id dictum. Nunc a purus tincidunt, imperdiet nibh at, interdum mauris. Vestibulum malesuada nibh arcu, et porttitor quam fermentum et. Pellentesque nibh lacus, finibus a molestie eu, sodales eget quam. Fusce aliquam ipsum eu gravida pulvinar. Pellentesque nunc ligula, imperdiet eget dui ut, posuere egestas erat. Nunc lorem massa, convallis vitae dictum tempus, molestie quis velit. Vivamus consequat et purus sit amet condimentum. Suspendisse potenti. Suspendisse ornare felis urna, nec lacinia neque sollicitudin sed. Sed eleifend, nibh sit amet lacinia convallis, tortor justo pellentesque dui, sit amet eleifend sem dui quis nunc. Sed pellentesque vestibulum imperdiet.
                    <br><br/>
                    Mauris in odio quis mi mollis dictum sit amet vel dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a ante ut urna posuere convallis. Nam hendrerit odio eros, et scelerisque tortor elementum eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec dui porttitor, iaculis enim id, feugiat dolor. Nullam tempus laoreet elit vitae vulputate. Praesent sodales enim sit amet erat ullamcorper convallis.
                    <br><br/>
                    Etiam suscipit facilisis augue maximus mattis. Donec eget nisl turpis. Praesent posuere at nibh quis sagittis. Vestibulum ipsum nunc, elementum et pellentesque non, sodales a tellus. Phasellus porttitor vestibulum mattis. Curabitur interdum condimentum felis vitae cursus. Aliquam erat volutpat. Curabitur nec sem molestie, dignissim nulla ut, facilisis mi. Phasellus ex ante, rhoncus quis neque non, vestibulum scelerisque justo. Nulla tristique auctor magna, a accumsan enim gravida vel. In pharetra sagittis sollicitudin. Pellentesque rutrum erat lacus, efficitur aliquet nisl tincidunt sed.
                    <br><br/>
                    Nam tempor turpis a velit vulputate posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu est non dolor interdum pellentesque id nec massa. Nam egestas hendrerit interdum. Ut finibus purus eget augue varius, id egestas nisl aliquet. In sit amet lectus risus. Sed rhoncus nisl sed turpis eleifend, quis egestas ligula gravida. Pellentesque in magna non lectus commodo bibendum sed a nunc. Mauris nec justo maximus, tincidunt lorem sit amet, pulvinar enim. Cras condimentum quam sed rhoncus egestas. Sed eget porttitor odio. Suspendisse diam lorem, venenatis nec nisi sodales, condimentum posuere lectus. Vivamus commodo dapibus rutrum. 
                    <br><br/>

                </p>
                
        
            </p>
            </div>
        </centre>
    </div>
</div>
{% endblock %}